.roundbox {
    border: 1px solid #b9b9b9;
    border-top-color: rgb(185, 185, 185);
    padding: 2px;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(185, 185, 185);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(185, 185, 185);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(185, 185, 185);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    position: relative;
}

.insert-btn {
    border: 1px solid #b9b9b9;
    padding: 2px;
    cursor: pointer;
    background-color: #FFFFFF;
}

.insert-btn-disabled {
    display: none;
}

li {
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
}

.circle {
    padding: 2px 5px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.selected-circle {
    background-color: cadetblue;
}

#drawing-area {
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

#errMsg {
    color: crimson;
    display: none;
}

#hint {
    display: none;
    color: darkgreen
}